.container {
    width: 95%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

main {
    background-color: green;
    padding: 20px;
    color: darkslategrey
}

h4 {
    background-color: blueviolet;
.circle {
    position: absolute;
    top: 6rem;
    right: 4.5rem;
    width: 50px;
    height: 50px;
    background: purple;
    border-radius: 50%;
}